In [1]:
from pullData import getDimensions, getCases, getDocuments, getParticulars, getSummary, getTonnage, scrapeSummaryByYear

In [18]:
getDimensions(1092464)

,VesselId,DimensionTypeLookupId,DimensionTypeLookupName,BreadthInFeet,DepthInFeet,LengthInFeet
0,1092464,2,Convention,105.80,59.10,623.40
1,1092464,4,Hull(Overall) Simplified,105.80,59.10,623.30
2,1092464,8,Length Between Perpendiculars,NaN,NaN,608.90
3,1092464,9,Design Draft,NaN,NaN,42.10
4,1092464,10,Hull(Overall) Formal,105.80,59.10,623.30
5,1092464,11,Length,NaN,NaN,623.30

In [20]:
getDocuments(1092464)

,VesselId,TypeLookupName,OrganizationAbbr,IssueDtTm,ExpiredDtTm,IssueDtTm1
0,1092464,SOLAS Cargo Ship Safety Equipment Certificate,NKK,"June 19,2018","March 16,2022",2018-06-19T00:00:00-04:00
1,1092464,Classification Document,NKK,"June 6,2017","March 16,2022",2017-06-06T00:00:00-04:00
2,1092464,SOLAS Cargo Ship Safety Construction Certificate,NKK,"June 6,2017","March 16,2022",2017-06-06T00:00:00-04:00
3,1092464,SOLAS Cargo Ship Safety Radio Certificate,NKK,"June 6,2017","March 16,2022",2017-06-06T00:00:00-04:00
4,1092464,ISM - Safety Management Certificate,NKK,"May 18,2017","March 21,2022",2017-05-18T00:00:00-04:00
5,1092464,ISM - Document Of Compliance,NKK,"April 21,2017","March 13,2022",2017-04-21T00:00:00-04:00
6,1092464,International Load Line Certificate,NKK,"March 17,2017","March 16,2022",2017-03-17T00:00:00-04:00
7,1092464,International Oil Pollution Prevention Certifi...,NKK,"March 17,2017","March 16,2022",2017-03-17T00:00:00-04:00
8,1092464,ISM - Document Of Compliance,NKK,"October 27,2012","June 19,2017",2012-10-27T00:00:00-04:00
9,1092464,International Oil Pollution Prevention Certifi...,NKK,"October 6,2011","June 4,2014",2011-10-06T00:00:00-04:00
10,1092464,International Oil Pollution Prevention Certifi...,N/A,"July 12,2011","December 11,2011",2011-07-12T00:00:00-04:00
11,1092464,SOLAS Cargo Ship Safety Equipment Certificate,N/A,"December 2,2010","June 4,2014",2010-12-02T00:00:00-05:00
12,1092464,ISM - Safety Management Certificate,NKK,"December 7,2009","November 8,2014",2009-12-07T00:00:00-05:00
13,1092464,ISM - Document Of Compliance,NKK,"October 27,2009","June 19,2012",2009-10-27T00:00:00-04:00
14,1092464,International Load Line Certificate,NKK,"August 13,2009","June 4,2014",2009-08-13T00:00:00-04:00
15,1092464,SOLAS Cargo Ship Safety Construction Certificate,NKK,"August 13,2009","June 4,2014",2009-08-13T00:00:00-04:00
16,1092464,SOLAS Cargo Ship Safety Radio Certificate,NKK,"August 13,2009","June 4,2014",2009-08-13T00:00:00-04:00
17,1092464,Classification Document,NKK,"July 28,2009","June 4,2014",2009-07-28T00:00:00-04:00
18,1092464,"Tonnage Certificate, International",NKK,"June 5,2009",NaN,2009-06-05T00:00:00-04:00

In [21]:
getParticulars(1092464)

,VesselName,VesselCallSign,ServiceType,ServiceSubType,StatusLookupName,ConstructionCompletedYear,Identification,IdentificationTypeLookupId,IdentificationTypeLookupName,CountryLookupName,CountryLookupId
0,MEDI SEGESTA,3FCG6,Freight Ship,Self-Discharging,Active,2009,9403164,2,IMO Number,PANAMA,176886

In [15]:
getSummary({'vesselId': '1092464'})

,VesselId,VesselName,VesselCallSign,ServiceType,ConstructionCompletedYear,StatusLookupName,Identification,CountryLookupName
0,1092464,MEDI SEGESTA,3FCG6,Freight Ship,2009,Active,9403164,PANAMA

In [8]:
getSummary({'service': 'School Ship'})

,VesselId,VesselName,VesselCallSign,ServiceType,ConstructionCompletedYear,StatusLookupName,Identification,ManufacturerHullNumber,CountryLookupName,HIN,OutOfServiceDate
0,1692,SIX STRING,WDD7247,School Ship,1982,Active,1092464,807243,UNITED STATES,NaN,NaN
1,1773,SMITH POINT,WCZ9714,School Ship,1962,Active,1093087,NaN,UNITED STATES,NaN,NaN
2,9122,IRVING JOHNSON,WDB3153,School Ship,2003,Active,1136215,NaN,UNITED STATES,FOQ1401JB002,NaN
3,9451,ARUNG SAMUDERA,N/A,School Ship,0,Active,CG058964,NaN,INDONESIA,NaN,NaN
4,9690,ARETHUSA,N/A,School Ship,0,Active,CG058985,NaN,UNITED KINGDOM,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
236,1632947,*DUPLICATE* USE PATRIOT STATE O.N. 1304085,N/A,School Ship,0,Inactive,CG1632947,NaN,UNITED STATES,NaN,2020-08-18T00:00:00-04:00
237,1652152,MAKANI AHA,N/A,School Ship,0,Active,HA0605XS,NaN,UNITED STATES,FQVKK002A010,NaN
238,1654617,RENEGADE,N/A,School Ship,0,Active,1312435,RACB1023I516,UNITED STATES,NaN,NaN
239,1658170,STATE OF MAINE,N/A,School Ship,0,Active,1313533,035,UNITED STATES,NaN,NaN
240,1658176,LONE STAR STATE,N/A,School Ship,0,Active,1313539,036,UNITED STATES,NaN,NaN

In [14]:
getParticulars(1692)

,VesselName,VesselCallSign,ServiceType,ServiceSubType,StatusLookupName,ConstructionCompletedYear,Identification,IdentificationTypeLookupId,IdentificationTypeLookupName,CountryLookupName,CountryLookupId
0,SIX STRING,WDD7247,School Ship,General,Active,1982,1092464,6,Official Number (U.S.),UNITED STATES,176948